* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    margin: 20px;
}

.ranger {
    max-height: 550px;
}