* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
    
}
html {
    font-size: 17px;
}
.container {
    height: 100vh;
    display: flex;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #A2C5F9;
    flex-grow: 1;
}

.header {
    text-align: center;
    margin: 20px;
    
}

.forminput {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.input-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 40px;
    font-size: 1.2em;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]{
    background-color: #A2C5F9;
    color: grey;
    border: none;
    border-bottom: solid white 1px;
    border-radius: 2px;
    height: 80%;
    padding: 8px;
    transition: transform .2s ease-in;
    transition: background-color .2s ease-in;
    transform: border-left 5s ease-in;
    
}


input:focus{
    transform: translateX(-2px) translateY(-2px);
    outline: none;
    box-shadow: 2px 2px 2px rgb(71, 71, 71);
    border: none;
    border-left: solid white 1px;
    border-top: solid white 1px;
    background-color: #738785;
    color: white;
    
}
.row {
    display: flex;
    overflow: hidden;
}
.ranger {
    max-height: 550px;
}

label[for="confirmPassword"]{
    white-space: nowrap;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder {
    color: #435655;
    font-weight:700;
}

input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="number"]:focus::placeholder {
    color: white;
    
}
input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="number"]:valid{
    font-weight: 700;
}

input[type="text"]:valid:focus,
input[type="email"]:valid:focus,
input[type="password"]:valid:focus,
input[type="number"]:valid:focus{
    border-left: green solid 2px;
    border-top: green solid 2px;
}

input[type="text"]:invalid:focus,
input[type="email"]:invalid:focus,
input[type="password"]:invalid:focus,
input[type="number"]:invalid:focus{
    border-left: red solid 2px;
    border-top: red solid 2px;
}

#nameError {
    display:none;
}
#nameError.visible {
    display: block;
    position: absolute;
    bottom: 56%;
    font-size: .7em;
    color: red;
}

#lastNameError {
    display:none;
}

#lastNameError.visible{
    display: block; 
    position: absolute;
    font-size: .7em;
    color:red;
    bottom: 56%;
}

#emailError {
    display: none;
}

#emailError.visible {
    display: block;
    position: absolute;
    font-size: .7em;
    color: red;
    bottom: 37%;
}

#phoneError {
    display: none;
}
#phoneError.visible{
    display: block;
    position: absolute;
    font-size: .7em;
    color: red;
    bottom: 37%;
}
#passwordError {
    display: none;
}
#passwordError.visible {
    display: block;
    position: absolute;
    font-size: .7em;
    color: red;
    bottom: 18%;
}

#confirmPasswordError {
    display: none;
}
#confirmPasswordError.visible {
    display: block;
    position: absolute;
    font-size: .7em;
    color: red;
    bottom: 18%;
}
/* Removes the up and down arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sidebar > h1 {
    margin-left: 10px;
}
#submit {
    align-self: center;
    min-width: 200px;
    height: 35px;
    border-radius: 0;
    border: none;
    transition: background-color .2s;
    font-weight: 850;
}
#submit:hover{
    background-color: #569593;
    color: white;
    cursor: pointer;
}